<div style="width: 500px; height: 500px;">
  {{histo-slider
    class="class1"
    data=model
    range=range
    onUpdate=(action "onUpdate")
    onSet=(action "onSet")}}
</div>
    UpdateValue: {{updateValue}}
    Set Value: {{setValue}}

<div style="width: 900px; height: 400px;">
  {{histo-slider
    class="class2"
    data=model
    range=range2
    onUpdate=(action "onUpdate2")
    onSet=(action "onSet2")}}
</div>
    UpdateValue: {{updateValue2}}
    Set Value: {{setValue2}}

<div style="width: 250px; height: 800px;">
  {{histo-slider
    class="class3"
    data=model
    range=range3
    onUpdate=(action "onUpdate3")
    onSet=(action "onSet3")}}
</div>
    UpdateValue: {{updateValue3}}
    Set Value: {{setValue3}}
