<div style="width: 200px; padding: 30px 10px;">
  {{#histo-slider
    class="class1"
    metaData=(if alternateModel otherModel model)
    histogramHeight=100
    range=range
    onUpdate=(action "onUpdate")
    onSet=(action "onSet")}}
    UpdateValue: {{updateValue}}
    Set Value: {{setValue}}
  {{/histo-slider}}
</div>

<button {{action (toggle "alternateModel" this)}}> Change Data </button>

<div style="width:10px; height:200px;">
  hi
</div>

<div style="width: 300px; padding: 20px;">
  {{#histo-slider
    class="class2"
    histogramHeight=200
    metaData=model
    showHistoOnHover=true
    range=range2
    onUpdate=(action "onUpdate2")
    onSet=(action "onSet2")}}
    UpdateValue: {{updateValue2}}
    Set Value: {{setValue2}}
  {{/histo-slider}}
</div>


<div style="width: 300px; padding: 20px;">
  {{#histo-slider
    class="class3"
    metaData=model
    histogramHeight=100
    range=range3
    onUpdate=(action "onUpdate3")
    onSet=(action "onSet3")}}
    UpdateValue: {{updateValue3}}
    Set Value: {{setValue3}}
  {{/histo-slider}}
</div>
